.button-airplanes {
  background: linear-gradient(to top, #173288, #1b4e91);
color: white;
border: none;
padding: 8px 16px;
cursor: pointer;
transition: background-color 0.2s;
border-radius: 4px;
width: 75%;
display: flex;
justify-content: center;
margin: 0 auto;
}


.button-airplanes:hover {
  background: linear-gradient(to top, #173288, #143867);
  color: white;
}
