<%= link_to airplane_path(airplane), class: "text-decoration-none" do %>
<div style= "border-radius: 4px;">
  <h3 class="mt-2 mx-2"><%= airplane.description %></h3>
  <div class="mt-3">
    <i class="fa-solid fa-location-dot" style= "font-size:15px; display: inline-block; margin-right:6px;color: white;"></i>
    <h2 style="display:inline-block;">Based in: <%= airplane.home_airport %> airport</h2>
  </div>
<% end %>
</div>
