<<<<<<< HEAD
<h2><%= airplane.tailnumber %></h2>
<p><%= airplane.address %></p>
=======
<h2><%= airplane.make %></h2>
<p><%= airplane.home_airport %></p>
>>>>>>> b1511e5da2894e96ab44758940d10f99c72125b7
