
<div class="d-flex justify-content-center align-items-center">
  <div class="hangar-container pt-5" style="width: 100%;">
    <div class="div2 px-5 py-4 div-shadow" style="max-width: 1000px; margin: 10px auto; margin-bottom: 45px;">
      <h2 class="mb-2 text-center text-white">Edit your Airplane</h2>

      <%= render 'form', airplane: @airplane %>
    </div>
  </div>
</div>
