<div class="ms-5 mt-4">
<h1 class="center" >My Hangar</h1>


<ul>
  <% @airplanes.each do |airplane| %>
    <li style="font-size: 20px;"><%= link_to "#{airplane.engines} #{airplane.make} based at #{airplane.home_airport}", airplane_path(airplane), style: "text-decoration: none;", class:"text-dark" %></li>
  <% end %>
</ul>


<%= link_to "Create new airplane", new_airplane_path, class: "button-airplanes mt-4 mb-2 w-25 "%>
</div>
