<%# <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active background">
      <img src="https://images.pexels.com/photos/730778/pexels-photo-730778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block banner1" alt="banner">
      <div class="layer">
      </div>
    </div>
  </div>
</div>
 %>
<div class="image">
<div class="cover">
    <h1>Discover aircrafts near</h1>
    <form  class="flex-form">
      <input class="ps-3 input-v" type="search" placeholder="Enter your location">
      <input class="search-v" type="submit" value="Search">
    </form>
  </div>
</div>
</div>


//

<div class="background">
  <div class="container">
    <div class="panel pricing-table">

      <div class="pricing-plan">
       <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h5 class="pricing-header">No intermediaries</h5>
        <ul class="pricing-features">
          <li class="pricing-features-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
      </div>

      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h5 class="pricing-header">Trusted Airplanes</h5>
        <ul class="pricing-features">
          <li class="pricing-features-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
      </div>

      <div class="pricing-plan">
        <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
        <h5 class="pricing-header">Location<br> Based</h5>
        <ul class="pricing-features">
          <li class="pricing-features-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
          </ul>
      </div>

    </div>
  </div>
</div>
