<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active background">
      <img src="https://images.pexels.com/photos/62623/wing-plane-flying-airplane-62623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block banner1" alt="banner">
      <div class="layer">
      </div>
    </div>
  </div>
</div>
