.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  background-color: #173288;
  h2 {
    font-size: small;
    color:#f8f8f8;
  }

  h3{
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Sans-serif';
    font-size: small;
    color:#f8f8f8;
  }
}
